<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmvxGMTWWetUCbk92F4hcCjNtY-0UhyaM" />
        <activity
            android:name=".rider.searchtrip.SearchPage"
            android:exported="false" />
        <activity
            android:name=".admin.UsersList"
            android:exported="false" />
        <activity
            android:name=".admin.TripsList"
            android:exported="false" />
        <activity
            android:name=".admin.HomePage"
            android:exported="false" />
        <activity
            android:name=".driver.TripsList"
            android:exported="false" />
        <activity
            android:name=".driver.HomePage"
            android:exported="false" />
        <activity
            android:name=".driver.createtrip.ConfirmTrip"
            android:exported="false" />
        <activity
            android:name=".driver.createtrip.SelectTripPlace"
            android:exported="false"
            android:label="@string/title_activity_select_ride_start" />
        <activity
            android:name=".driver.createtrip.SelectTripTime"
            android:exported="false" />
        <activity
            android:name=".rider.searchtrip.SearchTripPlace"
            android:exported="false"
            android:label="@string/title_activity_search_ride_start" />
        <activity
            android:name=".rider.searchtrip.SearchTripTime"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".rider.RiderRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".driver.RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".rider.RiderHomePage"
            android:exported="false" />
        <activity
            android:name=".RegistrationOptions"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>